.center {
    text-align:center;
    margin: 5px auto 5px auto;
    padding: 0px auto 0px auto;
}

h1 {
    color:red;
    font-family: 'ZCOOL KuaiLe', cursive;
}

#dummyPar {
    font-size: 30px;
    color:green;
    font-family: 'ZCOOL KuaiLe', cursive;
}

p {
    font-size: 15px;
    color:darkred;
}
