h1 {
    color:red;
    font-family: 'ZCOOL KuaiLe', cursive;
}

#dummyPar {
    font-size: 30px;
    color:green;
    font-family: 'ZCOOL KuaiLe', cursive;
}

p {
    font-size: 15px;
    color:darkred;
}

#helloBox {
    text-align: center;
    background: dodgerblue;
    height:80px;
    display: inline-block;
}