h1 {
    color:red;
    background-color:blue;
    font-family: 'ZCOOL KuaiLe', cursive;
}

#dummyPar {
    font-size: 30px;
    color:green;
    font-family: 'ZCOOL KuaiLe', cursive;
}

p {
    font-size: 15px;
    color:darkred;
}
